{
  "root": true,
  "parser": "babel-eslint",
  "parserOptions": {
      "sourceType": "module"
  },
  "env": {
      "es6": true,
      "browser": true
  },
  "plugins": [
      "html"
  ],
  "extends": [
      "eslint:recommended",
      "google"
  ],
  "globals": {
      "require": true
  },
  "rules": {
      "linebreak-style": 0,
      "switch-colon-spacing": 0,
      "object-curly-spacing": 0,
      "max-len": [1, 100],
      "no-console": 1,
      "no-debugger": 1
      // "semi": "warn",
      // "no-debugger": "warn",
      // "no-prototype-builtins": "warn",
      // "no-template-curly-in-string": "warn"
  }
}
